<!-- Navbar goes here -->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Приложение курсов</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li class="active">
                <a href="/">Главная</a>
            </li>

            <li>
                <a href="/courses">Курсы</a>
            </li>
            <li>
                <a href="/add">Добавить курс</a>
            </li>
        </ul>
    </div>
</nav>


<!-- Page Layout here -->
<div class="row">

    <div class="col s12 m4 l3">
        <!-- Grey navigation panel -->
        <ul>
            <li class="left-align">section 1</li>
            <li>section 2</li>
            <li>section 3</li>
            <li>section 4</li>
        </ul>
    </div>

    <div class="col s12 m8 l9">
        <!-- Teal page content  -->
        <h1>Home page</h1>

        <a href="/about">About page</a>
    </div>

</div>